form{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.form-header{
    background-color: #11FD17;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
}

.form-sub-header{
    background-color: #C3C3C3;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    width: 492px;
    margin-top: 5px;
    float: left;
}

.form-sub-body{
    background-color: #FFFFFF;
    border-top: 0;
    border-style: solid;
    border-radius: 10px;
    width: 492px;
    height: 370px;
    float:left;
}

.form-data-line{
    margin-left: 20px;
    margin-top: 10px;
}

.clear-both{
    clear: both;
}

input[type=submit]{
    background-color: #11FD17;
    width: 100%;
    font-size: 25px;
    border: solid;
    border-radius: 10px;
    margin-top: 5px;
}

input[type=submit]:hover{
    background-color: #11fd19c7;
}

input[type=text]{
    width: 95%;
    border-style: solid;
    border-radius: 5px;
    font-size: 15px;
}

select{
    width: 96%;
    border-style: solid;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
}

label{
    font-size: 15px;
}