.main-container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.content-container{
    height: 680px;
    background-color: #ffffa8;
}